<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <!-- <link href="css/custom.css" rel="stylesheet" /> -->

  </head>
  <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #d85eaf;">
            <div class="container-fluid">
    
                <a class="navbar-brand" href="#">
                    <img src="vp1.png" alt="" width="350" height="45">
                </a>
                
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hampurilainen" aria-controls="hampurilainen" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
    
            <div class="collapse navbar-collapse" id="hampurilainen">
                <ul class="navbar-nav ms-auto">
    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kirjaudu</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Asiakas</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Admin</a></li>
                </ul>
    
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Kirjaudu</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- <label for="uname"><b>Käyttäjätunnus</b></label><br> -->
                            <input class="form-control me-2" type="text" placeholder="Käyttäjätunnus" aria-label="Tunnus" name="uname" required><br>
                      
                            <!--  <label for="psw"><b>Salasana</b></label><br> -->
                            <input class="form-control me-2" type="password" placeholder="Salasana" aria-label="Salasana" name="psw" required><br>
                              
                            
                            <label>
                              <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label><br>
    
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Rekisteröidy</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Kirjaudu</button>
                        </div>
                        <div class="container" style="background-color:#f1f1f1">
                            <span class="psw">Unohtuiko <a href="#">salasana?</a></span>
                          </div>
                      </div>
                    </div>
                  </div>
    
              </div>
            </div>
          </nav>


        <!-- Tietokentät -->

<div class="container-fluid">
    <div class="row">
        <div class="container alert-primary">
        <div class="ms-5 mt-3"><h4 class="text-success text-center">Kiitos varauksesta! Olemme lähettäneet sinulle laskun valitsemasi vaihtoehdon mukaisesti.<br/>
                                                                    Alla näet varauksesi tiedot.</h4></div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-md-2">
            <form>
                <div class="ms-3 mt-5">    
                  <label id="varausnumero" class="form-label">Varausnumero: </label>
                </div>
                <div class="ms-3">
                    <label id="kohde" class="form-label">Kohde: </label>
                </div>
                <div class="ms-3">
                    <label id="saapumisaika" class="form-label">Saapumisaika: </label>
                  </div>
                  <div class="ms-3">
                    <label id="lahtoaika" class="form-label">Lähtöaika: </label>
                  </div>
                  <div class="ms-3">
                    <label id="lisapalvelut" class="form-label">Lisäpalvelut: </label>
                  </div>
                  <div class="ms-3">
                  <label id="hinta" class="form-label">Hinta: </label>
                  </div>
              </form>
              
        </div>

        <!-- Kuva -->
        <div class="col-md-2 mt-5">
            <img src="vp3.jpg" class="ms-5" alt="" width="650" height="480">
        </div>
</div>

        <!-- Footer -->

        <div class="container-fluid">    
            <footer class="row mt-5" style="border-top: 1px solid lightgrey;" >
          
                <div class="col-md-2 mt-4">@ 2022</div> 
                
                <div class="col-md-1 mt-4"> 
                    <h6>Tietoja</h6>
                    <a href="#">Tietoa meistä</a><br>
                    <a href="#">Yhteystiedot</a><br>
                    <a href="#">FAQ</a><br>
                    <a href="#">Usein kysyttyä</a><br>
                </div>
        
            </footer>
        
        </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>